p.copy {
	color:#13421F;
	font:italic 16px verdana, arial, helvetica, sans-serif;
}

p.subtitle {
	color:#13421F;
	font:bold 28 px verdana, arial, helvetica, sans-serif;
	text-align:left;
}

p.instructions {
	color:#13421F;
	font:bold 16px verdana, arial, helvetica, sans-serif;
}

img.floatLeft{
	float:left;
	margin:4px;
}


body {
	text-align:center;
}


#container {
	margin:0 auto;
	width:1024px;
}

#title {
	text-align:left;
	width:400px;
	float:left;
}

#copy {
	text-align:left;
	float:right;
	width:500px;
}


ul.fdtablePaginater

        {
        display:table;

        list-style:none;

        padding:0;

        margin:0 auto;

        text-align:center;

        height:2em;

        width:auto;

		margin-bottom:1em;
		
		margin-top:1em;
        }

ul.fdtablePaginater li

        {

        display:table-cell;

        padding-right:4px;

        color:#666;

        list-style:none;

        

        -moz-user-select:none;

        -khtml-user-select:none;

        }

ul.fdtablePaginater li a.currentPage

        {

        /*border-color:#a84444 !important;*/
		border-color:#13421F !important;

        color:#000;

        }

ul.fdtablePaginater li a:active

        {

        border-color:#222 !important;

        color:#222;

        }

ul.fdtablePaginater li a,

ul.fdtablePaginater li div

        {

        display:block;

        width:2em;

        font-size:1em;

        color:#666;

        padding:0;

        margin:0;

        text-decoration:none;

        outline:none;

        border:1px solid #ccc;

        font-family:georgia, serif;

        }

ul.fdtablePaginater li div

        {

        cursor:normal;

        opacity:.5;

        filter:alpha(opacity=50);

        }

ul.fdtablePaginater li a span,

ul.fdtablePaginater li div span

        {

        display:block;

        line-height:2em;

        border:1px solid #fff;

        }

ul.fdtablePaginater li a

        {

        cursor:pointer;

        }

ul.fdtablePaginater li a:focus

        {

        color:#333;

        text-decoration:none;

        border-color:#aaa;

        }

.fdtablePaginaterWrap

        {

        text-align:center;

        clear:both;

        text-decoration:none;

        }

ul.fdtablePaginater li .next-page span,

ul.fdtablePaginater li .previous-page span,

ul.fdtablePaginater li .first-page span,

ul.fdtablePaginater li .last-page span

        {

        font-weight:bold !important;

        }

		