/*table
{
border: 1px solid black;
border-collapse:collapse;
}

td
{
border: 1px solid black;
border-collapse:collapse;
text-align:center;
}

th
{
text-align:center;
text-decoration:underline;
color:blue;
border: 1px solid black;
border-collapse:collapse;

}
*/
ul.fdtablePaginater

        {

        display:table;

        list-style:none;

        padding:0;

        margin:0 auto;

        text-align:center;

        height:2em;

        width:auto;

        margin-bottom:2em;

        }

ul.fdtablePaginater li

        {

        display:table-cell;

        padding-right:4px;

        color:#666;

        list-style:none;

        

        -moz-user-select:none;

        -khtml-user-select:none;

        }

ul.fdtablePaginater li a.currentPage

        {

        border-color:#a84444 !important;

        color:#000;

        }

ul.fdtablePaginater li a:active

        {

        border-color:#222 !important;

        color:#222;

        }

ul.fdtablePaginater li a,

ul.fdtablePaginater li div

        {

        display:block;

        width:2em;

        font-size:1em;

        color:#666;

        padding:0;

        margin:0;

        text-decoration:none;

        outline:none;

        border:1px solid #ccc;

        font-family:georgia, serif;

        }

ul.fdtablePaginater li div

        {

        cursor:normal;

        opacity:.5;

        filter:alpha(opacity=50);

        }

ul.fdtablePaginater li a span,

ul.fdtablePaginater li div span

        {

        display:block;

        line-height:2em;

        border:1px solid #fff;

        background:#fff url(../media/gradient.gif) repeat-x 0 -20px;

        }

ul.fdtablePaginater li a

        {

        cursor:pointer;

        }

ul.fdtablePaginater li a:focus

        {

        color:#333;

        text-decoration:none;

        border-color:#aaa;

        }

.fdtablePaginaterWrap

        {

        text-align:center;

        clear:both;

        text-decoration:none;

        }

ul.fdtablePaginater li .next-page span,

ul.fdtablePaginater li .previous-page span,

ul.fdtablePaginater li .first-page span,

ul.fdtablePaginater li .last-page span

        {

        font-weight:bold !important;

        }
